header,footer{
    background-color: #CCC;
    border-radius: 2em;
    padding: 1em;
}
nav{
    background-color: #AAA;
    border-radius: 1em;
    padding: 1em;
}

a.nav{
    background-color: #CCC;
    border-radius: .5em;
    padding: .25em;
}

body {
    width: 90%;
    margin: 0 auto;
}

section#content {
    margin: 1%;
}

.css-slideshow{
   position: relative;
   max-width: 1000px;
   height: 500px;
   margin: 5em auto .5em auto;
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}
.css-slideshow figcaption{
   position: absolute;
   top: 0;
   color: #fff;
   background: rgba(0,0,0, .3);
   font-size: .8em;
   padding: 8px 12px;
   opacity: 0;
   transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
   transition: opacity .5s;
   opacity: 1;
}
.css-slideshow figure{
   opacity:0;
}

/* * *
 * How this works: xfade totalrunthroughtime whenimageappears infinite
 * * */
figure:nth-child(1) {
   animation: xfade 16s 8s infinite;
}
figure:nth-child(2) {
   animation: xfade 16s 0s infinite;
}

@keyframes xfade{
   0% {
      opacity: 1;
   }
   47.5% { /* this percent should be 2.5 less than below */
      opacity:1;
   }
   50% { /* this percent should be (100/numofimages) */
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}
